#get{
    margin: auto;
    text-align: center;
    width: 20%;
    animation: slidedown 2s;
    margin-top: 10%;
    background: linear-gradient(100deg, blue,cyan);
}
@keyframes slidedown{
    0%{
        transform: translateY(-100px);
        opacity: 0;
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}